*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.main-container{
    display: flex;
    background-image: url("/images/main-bg.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: rgba(111, 129, 129, 0.247);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-title{
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: lighter;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label{
    color: #fff;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}
.input-group input{
    font-size: 1.5em;
    font-weight: lighter;
    background-color:  rgba(111, 129, 129, 0.466);
    padding: .1em .25em;
    color: #fff;
    height:40px;
    border: 0;
    border-radius: 5px;
}
.input-group input:focus{
    outline: 2px solid rgb(0, 162, 255);
}
.form-container button{
    width: 100%;
    cursor: pointer;
    font-size: 1.5em;
    border: 0;
    border-radius: 5px;
    padding: .25em;
    color: #fff;
    background-color: rgba(177, 196, 196, 0.466);
    font-weight: lighter;
    
}

.form-container button:hover{
    background-color:  rgba(233, 243, 243, 0.685);
    outline: 2px solid rgb(0, 162, 255);
    color: #000;
}
